#take out some files and folders
*.qgz
*.xlsx
*.docx
*.whl
*.exe
*.html
*.xml
*.cbb
*.hds
*.lst
*.png
*.csv

09_Python/temp_pst_model/
09_Python/template/
02_Shp_Vect/Input_Model/
*.shp
*.shx
*.dat



#09_Python/data/modelo_Norte/*.txt
*.vtu
06_Jpg/
11_pv_test/
10_Exe/

04_Xls/Pst_out_runs/

09_Python/master/

#this include .csv of pest
#!09_Python/master/
#09_Python/master/*
#!09_Python/master/*.csv

